








<div class="container">

    <div class="row">

        <div class="col">

            <app-image
            [img]="'./assets/images/titles (1).jpg'"
            [texto]="'Imagen 1'"
            ></app-image>

        </div>
        <div class="col">

            <app-image
            [img]="'./assets/images/titles (2).jpg'"
            [texto]="'Imagen 2'"
            ></app-image>

        </div>
        <div class="col">

            <app-image
            [img]="'./assets/images/titles (3).jpg'"
            [texto]="'Imagen 3'"
            ></app-image>

        </div>
        <div class="col">

            <app-image
            [img]="'./assets/images/titles (4).jpg'"
            [texto]="'Imagen 4'"
            ></app-image>

        </div>
    </div>

</div>