/* You can add global styles to this file, and also import other style files */



.container{

    padding: 50px 0

}

footer{

    padding: 2.5%!important;
    background-color: #f8f9fa!important;

}

nav{

    padding: 15px 2.5%!important;

}